<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<!-- 插入页头 -->
<div th:replace="~{layout/header :: main-header(siteName='THYMELEAF')}"></div>

<!-- 页面主要内容 -->
<main class="container my-5 min-vh-100">
    <h1 class="display-5">添加商品</h1>
</main>

<!-- 插入页脚 -->
<div th:replace="~{layout/footer :: main-footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>