<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<!-- 插入页头 -->
<div th:replace="~{layout/header :: main-header(siteName='THYMELEAF')}"></div>

<!-- 页面主要内容 -->
<main class="container my-5 min-vh-100">
    <h1 class="display-5">添加商品</h1>
    <form method="post" th:action="@{/product/create}" enctype="multipart/form-data" th:object="${product}">
        <div class="mb-3">
            <label for="productName" class="form-label">产品名称</label>
            <input type="text" th:field="*{productName}" class="form-control text-secondary" id="productName">
            <div th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">产品价格</label>
            <input type="text" th:field="*{productPrice}" class="form-control text-secondary" id="productPrice">
            <div th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}" class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label for="productStock" class="form-label">产品数量</label>
            <input type="text" th:field="*{productStock}" class="form-control text-secondary" id="productStock">
            <div th:if="${#fields.hasErrors('productStock')}" th:errors="*{productStock}" class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label for="productImg" class="form-label">产品图片</label>
            <input type="text" th:field="*{productImg}" class="form-control text-secondary" id="productImg">
            <div th:if="${#fields.hasErrors('productImg')}" th:errors="*{productImg}" class="text-danger"></div>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</main>

<!-- 插入页脚 -->
<div th:replace="~{layout/footer :: main-footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>