<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 这里可以放通用的meta标签 -->
</head>
<body>
<!-- 定义可重用的页头片段 -->
<header th:fragment="main-header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/">THYMELEAF</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/article">文章</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">商品</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>