<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<!-- 插入页头 -->
<div th:replace="~{layout/header :: main-header(siteName='THYMELEAF')}"></div>

<!-- 页面主要内容 -->
<main class="container my-5 min-vh-100">
    <div th:object="${article}" class="card">
        <div class="card-body">
            <h3 class="card-title display-6 mb-3" th:text="*{articleName}"></h3>

            <div class="d-flex flex-wrap gap-3 mb-4 text-muted">
                <span class="d-flex align-items-center">
                    <i class="bi bi-person-fill me-2"></i>
                    <span class="fw-semibold" th:text="'作者: ' + *{articleAuthor}"></span>
                </span>
                <span class="d-flex align-items-center">
                    <i class="bi bi-eye-fill me-2"></i>
                    <span class="fw-semibold" th:text="'阅读量: ' + *{previewCount}"></span>
                </span>
                <span class="d-flex align-items-center">
                    <i class="bi bi-calendar3 me-2"></i>
                    <span class="fw-semibold"
                          th:text="'发布日期: ' + *{#dates.format(createTime, 'yyyy-MM-dd')}"></span>
                </span>
            </div>

            <div class="card-text article-content fs-5 lh-base" th:utext="*{articleContent}"></div>
        </div>
    </div>
</main>

<!-- 插入页脚 -->
<div th:replace="~{layout/footer :: main-footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu"
        crossorigin="anonymous"></script>
</body>
</html>